.product{
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 5px;
    color: #ffc107;
}
.product a {
    color: #ffc107;
    text-decoration: none;
    background-color: transparent;
}
.product-name {
    color: rgb(255, 255, 255);
    font-weight: 400;
}
.main-button{
    color: white;
    background-color:goldenrod;
    border: 1px solid gold;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}